In [4]:
import pandas as pd

In [13]:
df = pd.read_excel('/Users/seanammirati/dev/fantasy_football_predictions/data/external/injury_by_player.xlsx', header=2)

In [14]:
df

                       Player  total_pct  ngames  game_pct  durability
0     Patrick Mahomes, QB KC       0.243     0.1     0.017       127.0
1      Lamar Jackson, QB BAL       0.253     0.1     0.018        14.0
2       Dak Prescott, QB DAL       0.253     0.1     0.018        25.0
3       Kyler Murray, QB ARI       0.291     0.6     0.021         0.0
4     Russell Wilson, QB SEA       0.324     0.2     0.024       127.0
..                        ...        ...     ...       ...         ...
205  Jace Sternberger, TE GB       0.352     0.0     0.027         5.0
206      Jesse James, TE DET       0.339     0.5     0.025       127.0
207        Irv Smith, TE MIN       0.334     0.0     0.025         5.0
208    Foster Moreau, TE LVR       0.334     0.0     0.025         5.0
209      Dawson Knox, TE BUF       0.326     0.1     0.024         5.0

[210 rows x 5 columns]

In [15]:
df['full_name'] = df['Player'].str.extract('(.*),.*')

In [16]:
df = df[['full_name', 'game_pct', 'ngames']]

In [17]:
df

            full_name  game_pct  ngames
0     Patrick Mahomes     0.017     0.1
1       Lamar Jackson     0.018     0.1
2        Dak Prescott     0.018     0.1
3        Kyler Murray     0.021     0.6
4      Russell Wilson     0.024     0.2
..                ...       ...     ...
205  Jace Sternberger     0.027     0.0
206       Jesse James     0.025     0.5
207         Irv Smith     0.025     0.0
208     Foster Moreau     0.025     0.0
209       Dawson Knox     0.024     0.1

[210 rows x 3 columns]

In [2]:
cd ../../Tic-Tac-Toe-Gym_Environment/gym-tictac4

/Users/seanammirati/dev/Tic-Tac-Toe-Gym_Environment/gym-tictac4

In [4]:
%load_ext autoreload
%autoreload 2

In [31]:
import gym
import gym_tictac4
env = gym.make('tictac4-v0')

/Users/seanammirati/opt/anaconda3/envs/fantasy_sports/lib/python3.7/site-packages/gym/logger.py:30: UserWarning: WARN: Box bound precision lowered by casting to float32
  warnings.warn(colorize('%s: %s'%('WARN', msg % args), 'yellow'))

In [32]:
env.input_df.iloc[:, 5:]

,position,age,exp,pos,avg_type,points,pos_rank,drop_off,sd_pts,floor,...,tier,points_vor,rank,floor_vor,floor_rank,ceiling_vor,ceiling_rank,full_name,proj_probability_of_injury_game,proj_number_of_games_if_injured
0,QB,23.0,1,QB,average,347.189017,1,28.906850,12.985372,340.610500,...,1.0,96.948891,4,99.138033,5,87.089435,7,Lamar Jackson,0.018,0.1
1,QB,25.0,2,QB,average,338.557748,2,46.223967,23.897179,326.289200,...,1.0,88.317622,6,84.816733,8,91.842421,4,Patrick Mahomes,0.017,0.1
2,QB,27.0,3,QB,average,298.006586,3,12.587684,8.782548,293.902992,...,2.0,47.766460,20,52.430525,22,30.960277,39,Dak Prescott,0.018,0.1
3,QB,32.0,7,QB,average,286.660977,4,5.142166,22.037224,261.672000,...,2.0,36.420851,37,20.199533,66,28.899787,45,Russell Wilson,0.024,0.2
4,QB,25.0,2,QB,average,284.176827,5,5.580129,5.828548,282.462900,...,3.0,33.936701,43,40.990433,38,13.971388,75,Deshaun Watson,0.033,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,WR,26.0,0,WR,average,-0.300000,118,0.186552,NaN,-0.300000,...,NaN,-115.939056,420,-100.572000,406,-140.896167,446,John Ursua,NaN,NaN
519,WR,24.0,1,WR,average,-0.373103,119,0.226897,0.159952,0.425103,...,33.0,-116.012159,421,-99.846897,396,-139.967477,429,Russell Gage,NaN,NaN
520,WR,24.0,0,WR,average,-0.600000,120,0.215000,NaN,-0.600000,...,NaN,-116.239056,422,-100.872000,407,-141.196167,447,Kelvin Harmon,0.018,0.1
521,WR,24.0,0,WR,average,-0.600000,120,NaN,NaN,-0.600000,...,NaN,-116.239056,422,-100.872000,407,-141.196167,447,Miles Boykin,0.018,0.1
522,WR,29.0,5,WR,average,-1.030000,121,NaN,NaN,-1.030000,...,NaN,-116.669056,424,-101.302000,408,-141.626167,449,Allen Hurns,0.048,1.6

In [33]:
a = [1,2,3]
np.random.shuffle(a)
a

[3, 1, 2]

In [88]:
a, b = env._simulate_actual_outcomes()

[4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 8, 9, 10, 11]
[4, 5, 6, 8, 10, 11]
[1, 2, 3, 1, 2, 3]
[5, 6, 8, 10, 11]
[1, 2, 3, 2, 3]
[1, 2, 2, 3]
[6, 8, 10, 11]
[1, 2, 2]
[1, 2]
[6, 10, 11]
[6, 11]
[11]
[1]

/Users/seanammirati/dev/Tic-Tac-Toe-Gym_Environment/gym-tictac4/gym_tictac4/envs/tictac4_env.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['injured'] = df['injured'] | (current_effect > 0)

In [89]:
env.input_df['points']

0      347.189017
1      338.557748
2      298.006586
3      286.660977
4      284.176827
          ...
518     -0.300000
519     -0.373103
520     -0.600000
521     -0.600000
522     -1.030000
Name: points, Length: 523, dtype: float64

In [90]:
env.input_df[['id', 'points']].loc[23]

id        10695.00
points      227.24
Name: 23, dtype: float64

In [100]:
b[1]['points']

0      22.705446
1      25.150625
2      18.167001
3      19.160845
4      18.142403
         ...
518     1.415954
519    -0.010802
520    -0.600000
521     2.128076
522     7.778127
Name: points, Length: 523, dtype: float64

In [103]:
env._determine_rank_complete(env.state)

-600000

In [16]:
env.in

SyntaxError: invalid syntax (<ipython-input-16-50a5a3ad19b6>, line 1)

In [13]:
env.input_df['rank'].apply(lambda x: min(x, 2))

0      2
1      2
2      2
3      2
4      2
      ..
194    2
195    2
196    2
197    2
198    2
Name: rank, Length: 199, dtype: int64